body {
  background-color: #fafafa;
  font-size: larger;
}

.button {
  font-size: inherit;
}

.hero.is-dark.is-bold .navbar-menu {
  background: transparent;
  box-shadow: none;
}

.column {
  padding: 1rem;
}

.card {
  box-shadow: 0 4px 16px rgba(0,0,0,.05);
  border-radius: .5rem;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.card:active,
.card:hover {
  box-shadow: 0 8px 32px rgba(0,0,0,.1);
}
a.card {
  display: block;
}
.section.card {
  padding: 3rem;
}

@media (max-width: 372px) {
  body {
    font-size: initial;
  }
}
