html { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }

::selection { background-color: #000 }
::-moz-selection { background-color: #000 }

body {
  font-family: 'Catamaran', sans-serif;
  color: #eceff1;
  background-color: #263238;
}

header {
  position: relative;
  z-index: 3;
  padding: 2rem;
  color: #fff;
  background-image: linear-gradient(135deg, #263238, #455a64);
  box-shadow: 0 4px 8px rgba(0,0,0,.19);
}
header h1 { font-weight: 800 }

.grid-container {   /* flex parent */
  display: flex;
  flex-wrap: wrap;
}

.grid-item {    /* flex child */
  width: 100%;  /* 1 per row */
  padding: 2rem;
  padding-top: 8rem;
  padding-bottom: 0.5rem;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  background-color: #607d8b;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}
@media (min-width: 576px) {
  .grid-item { width: 50% }   /* 2 per row */
}
@media (min-width: 992px) {
  .grid-item { width: 33.333333% }    /* 3 per row */
}
@media (min-width: 1440px) {
  .grid-item { width: 25% }   /* 4 per row */
}
.grid-item h2 {
  font-weight: 800;
  text-shadow: 0 0 10px rgba(0,0,0,.23);
}
.grid-item p {
  /*text-shadow: 0 0 10px rgba(0,0,0,.23);*/
}
.grid-item:hover {
  z-index: 2;
  box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 1px 10px rgba(0,0,0,.23);
}
.grid-item:nth-child(1) { background-image: linear-gradient(135deg, #EF5350, #ffc371) }
.grid-item:nth-child(2) { background-image: linear-gradient(135deg, #EC407A, #ffc371) }
.grid-item:nth-child(3) { background-image: linear-gradient(135deg, #AB47BC, #ffc371) }
.grid-item:nth-child(4) { background-image: linear-gradient(135deg, #7E57C2, #ffc371) }
.grid-item:nth-child(5) { background-image: linear-gradient(135deg, #5C6BC0, #ffc371) }
.grid-item:nth-child(6) { background-image: linear-gradient(135deg, #42A5F5, #ffc371) }
.grid-item:nth-child(7) { background-image: linear-gradient(135deg, #26C6DA, #ffc371) }
.grid-item:nth-child(8) { background-image: linear-gradient(135deg, #26A69A, #ffc371) }
.grid-item:nth-child(9) { background-image: linear-gradient(135deg, #66BB6A, #ffc371) }
.grid-item:nth-child(10) { background-image: linear-gradient(135deg, #FFA726, #ffc371) }
.grid-item:nth-child(11) { background-image: linear-gradient(135deg, #FF7043, #ffc371) }
.grid-item:nth-child(12) { background-image: linear-gradient(135deg, #8D6E63, #ffc371) }

footer {
  position: relative;
  z-index: 3;
  padding: 2rem;
  color: #fff;
  background-image: linear-gradient(135deg, #263238, #455a64);
  box-shadow: 0 -4px 8px rgba(0,0,0,.19);
}
footer h2 {
  font-weight: 300;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,.23);
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social div {
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.social div:last-child { padding-right: 0 }
.social .fa { color: #fff }
